/* Home page title colors */
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: #42abb0;
}

/* Home page image shadow */
.VPHero .VPImage {
  filter: drop-shadow(-2px 4px 6px rgba(0, 0, 0, 0.2));
  padding: 18px;
}

/* Home page feature icons color */
.VPFeatures i {
  color: var(--vp-home-hero-name-background);
}

/* Do not wrap inline code */
:not(pre) > code {
  white-space: nowrap;
}

/* Custom keyboard tag rendering */
kbd {
  background-color: var(--vp-c-bg-soft);
  border-radius: 0.25rem;
  border: 1px solid var(--vp-c-border);
  box-shadow: 0 2px 0 1px var(--vp-c-border);
  cursor: default;
  font-family: var(--vp-font-family-mono);
  font-size: 0.75em;
  line-height: 1;
  min-width: 0.75rem;
  padding: 5px;
  position: relative;
  text-align: center;
  top: -1px;

  &:hover {
    box-shadow: 0 1px 0 0.5px var(--vp-c-border);
    top: 1px;
  }
}

/* Figure captions */
figure {
  counter-increment: figures;
  text-align: center;
}

figure img {
  border: 1px solid var(--vp-c-border);
  border-radius: 1em;
  display: inline-block;
}

figcaption {
  text-align: center;
  font-style: italic;
  margin-block-start: 0.5em;
}

figcaption:before {
  content: 'Figure ' counter(figures) ': ';
}

.vp-doc {
  counter-reset: figures;
}

/* Automatic FontAwesome icon added to admonitions */
.custom-block.info > .custom-block-title::before {
  content: '\f05a'; /* info-circle icon */
  font-family: 'Font Awesome 7 Free';
  font-weight: 900;
  margin-right: 0.5rem;
}

.custom-block.tip > .custom-block-title::before {
  content: '\f0eb'; /* lightbulb icon */
  font-family: 'Font Awesome 7 Free';
  font-weight: 900;
  margin-right: 0.5rem;
}

.custom-block.warning > .custom-block-title::before {
  content: '\f071'; /* exclamation-triangle icon */
  font-family: 'Font Awesome 7 Free';
  font-weight: 900;
  margin-right: 0.5rem;
}

.custom-block.danger > .custom-block-title::before {
  content: '\f06a'; /* exclamation-circle icon */
  font-family: 'Font Awesome 7 Free';
  font-weight: 900;
  margin-right: 0.5rem;
}

/* Compact lists */
.vp-doc li + li,
.vp-doc li > ul {
  margin-top: 0 !important;
}

.vp-doc li > p {
  margin: 0 !important;
}

.vp-doc li > figure {
  margin: 0.5rem 0;
}

/* Ensure tree view code blocks are compact to touch lines */
.vp-doc .language-txt code {
  line-height: 1.1 !important;
}

/* Fix code blocks one after another in details blocks */
.vp-doc .custom-block.details div[class*='language-'] {
  margin: 16px 0;
}

.vp-doc .custom-block.details div[class*='language-'] + div[class*='language-'] {
  margin-top: -8px;
}
