name: "Cache GitKraken"

env:
  AWS_PROFILE_NAME: actions
  BUILD_COMMAND: NIXPKGS_ALLOW_UNFREE=1 nix-build --no-out-link -A gitkraken

on:
  push:
    paths:
      - .github/workflows/cache-gitkraken.yml

jobs:
  cache-gitkraken:
    runs-on: '${{ matrix.os }}'
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-13
          - macos-latest
        commit:
          - 5476f457e69e71dd998b611c50fdfdaa60d61025 # v11.2.1
          - 6df4842b4ef6d95082e749da0dd1c20cc980aab8 # v11.2.0
          - 5017262d69299951c156042e7f64ba63760204c2 # v11.1.1
          - 36dcda8c3ea1c6bd23770b711326625712460ba3 # v11.1.0
          - 37290199a6648a1e501839e07f6f9be95e4c58cc # v11.0.0
          - fd85e9405d38b57996a9f6caf4b12839a1e5642e # v10.8.0
          - 17f5c2876228563a2029c7a20bc279b612dd3587 # v10.7.0
          - 355f34d1529edce864a3b4f5be6e312f72383348 # v10.6.3
          - 381484d4652d91195ea0e5d5c509fb48564600ec # v10.6.2
          - e1a3a64af950591b0e1fc019fefb100963053790 # v10.6.1
          - 480f1aa89744a656fcf4672d927c097bf3f39207 # v10.6.0
          - 6bb61e56d5616474a47675adbaa39e777fc901f1 # v10.5.0
          - fd5b39ad6e9ea714c41897e707b100b67137c1fa # v10.4.1
    steps:
      - uses: actions/checkout@v4
        with:
          repository: 'nixos/nixpkgs'
          ref: '${{ matrix.commit }}'

      - uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            extra-substituters = https://pub-8eca3a11aed542be899dfd21df917e06.r2.dev
            extra-trusted-public-keys = nixkraken-cache:hpaLSjsyPKPgITZzrdm9V+7eDDxYqC6eMw38Vo7cGcA=

      - name: Build GitKraken
        id: build
        run: echo "store-path=$(NIXPKGS_ALLOW_UNFREE=1 nix-build --no-out-link -A gitkraken)" > $GITHUB_OUTPUT

      - name: Sign package
        run: |
          echo ${{ secrets.BINARY_CACHE_SECRET_KEY }} > secret.key
          nix store sign --recursive --key-file secret.key ${{ steps.build.outputs.store-path }}

      - name: Configure AWS credentials
        run: |
          mkdir -p ~/.aws
          echo "[actions]" >> ~/.aws/credentials
          echo "aws_access_key_id = ${{ secrets.AWS_ACCESS_KEY_ID }}" >> ~/.aws/credentials
          echo "aws_secret_access_key = ${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> ~/.aws/credentials

      - name: Copy derivation output to S3
        run: nix copy --to s3://nixkraken-cache\?profile=$AWS_PROFILE_NAME\&endpoint=${{ secrets.S3_API_ENDPOINT }}\&compression=zstd ${{ steps.build.outputs.store-path }}
