name: Deploy documentation

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - docs/**/*

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      pages: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: holster
      - uses: DeterminateSystems/nix-installer-action@main
      - name: Build documentation
        run: nix-build ./docs --arg isCI $CI
      - uses: actions/configure-pages@v4
      - uses: actions/upload-pages-artifact@v3
        with:
          path: 'result'
      - uses: actions/deploy-pages@v4
        id: deployment
